@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background: #f0eaf8;
  --color-light-violet: #cbb6e5;
  --color-dark-violet: #761be4;
  --color-darker-violet: #6a19cd;
  --color-dark-text: #000853;
  --color-grey-text: #898da9;
  --color-red: #ed4545;
  --color-light-red: #feecec;
  --color-white: #ffffff;
  --font-sans: Inter;
}
